body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #9862a0;
    border: 1px solid #9862a0;
    margin-bottom: 4px;
}

button {
    background-color: #9862a0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #9862a0;
    margin-bottom: 10px;
}

#delete-btn {
    background-color: white;
    color: #9862a0;
    border: 1px solid #9862a0;
}

a, li, ul {
    color: #9862a0;
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}